$colorText: #e4e5ea;
body {
  margin: 0px;
  background: #0e1014;
}

.main__container {
  & .main__content {
    display: flex;
    justify-content: space-between;
    margin: 46px 150px;
    margin-top: 50px;
    & .left {
      display: flex;
      flex-direction: column;
      & h1 {
        font-family: "Inter", sans-serif;
        line-height: normal;
        color: $colorText;
        font-size: 48px;
        font-weight: 400;
        margin-top: 43px;
        & .gardient {
          font-family: "Inter", sans-serif;
          font-size: 48px;
          font-weight: 900;
          background: linear-gradient(120deg, #fcb045, #ff3f78);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }
      & .text {
        font-family: "Montserrat", sans-serif;
        color: $colorText;
        font-size: 18px;
        font-weight: 400;
      }
    }
    & .right {
      color: $colorText;
      text-align: end;
      margin-top: 40px;
      font-family: "Inter", sans-serif;
      & .up {
        grid-area: 1 / 1 / 2 / 3;
        & p {
          text-align: right;
          font-family: "Inter", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        & span {
          background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          letter-spacing: 0.9px;
          text-transform: uppercase;
          font-weight: 700;
        }
      }
    }
    & ._main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 10;
      color: $colorText;
      margin-top: 40px;
      margin-bottom: 61px;
      gap: 46px;

      & .main__left,
      .main__right {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
    & ._main__down {
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      letter-spacing: 0.65px;
      text-transform: uppercase;
      color: $colorText;
      display: none;
    }

    & button {
      width: 262px;
      height: 61px;
      flex-shrink: 0;
      background: #4077f3;
      color: $colorText;
      cursor: pointer;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
.redball__light {
  position: absolute;
  left: 0px;
  top: 0px;
}
.redball__small {
  position: absolute;
  top: 547px;
  z-index: -1;
  left: 55%;
}
.description {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}

.right_title {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .main__container {
    background-image: url("Images/glass.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .main__content {
      margin: 0px 14px;
      flex-direction: column;
      align-items: flex-start;
      & .left {
        & h1 {
          font-size: 36px;
        }
      }
      & .right {
        & .up {
          & .free__consult {
            text-align: left;
          }
        }
      }
      & ._main {
        display: none;
      }
      & ._main__down {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 65px;
        & ._left, ._right {
          text-align: left;
          & p {
          & .line {
            margin-bottom: 5px;
          }}
        }
      }
    }
    & .btn {
      display: none;
    }
    & .desktop__ball {
      display: none;
    }
  }
}
